.elementor-5
  .elementor-element.elementor-element-9d6a950
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5 .elementor-element.elementor-element-9d6a950 {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: -103px;
  margin-bottom: 0px;
  padding: 10em 0em 4em 0em;
}
.elementor-5
  .elementor-element.elementor-element-9d6a950:not(.elementor-motion-effects-element-type-background),
.elementor-5
  .elementor-element.elementor-element-9d6a950
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2021/08/library-background-from-white-bookshelves-with-boo-TLNGA4V.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5
  .elementor-element.elementor-element-9d6a950
  > .elementor-background-overlay {
  background-color: transparent;
  background-image: linear-gradient(
    110deg,
    var(--e-global-color-primary) 53%,
    var(--e-global-color-7b1170c) 100%
  );
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-de94a10
  .elementor-heading-title {
  color: var(--e-global-color-accent);
  font-family: var(--e-global-typography-ac7903a-font-family), Sans-serif;
  font-size: var(--e-global-typography-ac7903a-font-size);
  font-weight: var(--e-global-typography-ac7903a-font-weight);
  text-transform: var(--e-global-typography-ac7903a-text-transform);
  line-height: var(--e-global-typography-ac7903a-line-height);
  letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-6dd4dee
  .elementor-heading-title {
  color: var(--e-global-color-3ad29f8);
  font-family: var(--e-global-typography-8b65ec8-font-family), Sans-serif;
  font-size: var(--e-global-typography-8b65ec8-font-size);
  font-weight: var(--e-global-typography-8b65ec8-font-weight);
  text-transform: var(--e-global-typography-8b65ec8-text-transform);
  line-height: var(--e-global-typography-8b65ec8-line-height);
  letter-spacing: var(--e-global-typography-8b65ec8-letter-spacing);
}
.elementor-5 .elementor-element.elementor-element-d9075a0 {
  color: var(--e-global-color-3ad29f8);
}
.elementor-5
  .elementor-element.elementor-element-d9075a0
  > .elementor-widget-container {
  padding: 0px 0px 0px 20px;
  border-style: solid;
  border-width: 0px 0px 0px 3px;
  border-color: var(--e-global-color-accent);
}
.elementor-5 .elementor-element.elementor-element-bbcf061 .elementor-button {
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  background-color: var(--e-global-color-3ad29f8);
}
.elementor-5 .elementor-element.elementor-element-095443c {
  text-align: center;
}
.elementor-5 .elementor-element.elementor-element-095443c img {
  width: 100%;
}
.elementor-5
  .elementor-element.elementor-element-095443c
  > .elementor-widget-container {
  margin: 0px 0px -74px 0px;
}
.elementor-5 .elementor-element.elementor-element-45ea8e2 {
  padding: 6em 0em 0em 0em;
}
.elementor-5
  .elementor-element.elementor-element-8732799.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-5
  .elementor-element.elementor-element-8732799.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-5
  .elementor-element.elementor-element-8732799.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-8732799
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-8732799
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-8732799
  .elementor-image-box-title {
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-060bfd0.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-5
  .elementor-element.elementor-element-060bfd0.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-5
  .elementor-element.elementor-element-060bfd0.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-060bfd0
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-060bfd0
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-060bfd0
  .elementor-image-box-title {
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-1de780f.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-5
  .elementor-element.elementor-element-1de780f.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-5
  .elementor-element.elementor-element-1de780f.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-1de780f
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-1de780f
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-1de780f
  .elementor-image-box-title {
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-d79a279.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-5
  .elementor-element.elementor-element-d79a279.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-5
  .elementor-element.elementor-element-d79a279.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-d79a279
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-d79a279
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-d79a279
  .elementor-image-box-title {
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-6a3dec5
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5 .elementor-element.elementor-element-6a3dec5 {
  overflow: hidden;
  padding: 8em 0em 1em 0em;
}
.elementor-5
  .elementor-element.elementor-element-35dfcce
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5 .elementor-element.elementor-element-35dfcce {
  margin-top: 0px;
  margin-bottom: 25px;
}
.elementor-5 .elementor-element.elementor-element-43c100b {
  width: auto;
  max-width: auto;
}
.elementor-5
  .elementor-element.elementor-element-4e22660
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-ac7903a-font-family), Sans-serif;
  font-size: var(--e-global-typography-ac7903a-font-size);
  font-weight: var(--e-global-typography-ac7903a-font-weight);
  text-transform: var(--e-global-typography-ac7903a-text-transform);
  line-height: var(--e-global-typography-ac7903a-line-height);
  letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-4e22660
  > .elementor-widget-container {
  margin: 0px 0px 0px 15px;
}
.elementor-5 .elementor-element.elementor-element-4e22660 {
  width: auto;
  max-width: auto;
}
.elementor-5
  .elementor-element.elementor-element-61d47a3
  .elementor-heading-title {
  font-family: var(--e-global-typography-492a247-font-family), Sans-serif;
  font-size: var(--e-global-typography-492a247-font-size);
  font-weight: var(--e-global-typography-492a247-font-weight);
  text-transform: var(--e-global-typography-492a247-text-transform);
  line-height: var(--e-global-typography-492a247-line-height);
  letter-spacing: var(--e-global-typography-492a247-letter-spacing);
}
.elementor-5 .elementor-element.elementor-element-aa4d5a7 {
  --divider-border-style: zigzag;
  --divider-color: var(--e-global-color-accent);
  --divider-border-width: 2px;
  --divider-pattern-height: 15px;
  --divider-pattern-size: 20px;
}
.elementor-5
  .elementor-element.elementor-element-aa4d5a7
  .elementor-divider-separator {
  width: 90px;
}
.elementor-5 .elementor-element.elementor-element-aa4d5a7 .elementor-divider {
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-5 .elementor-element.elementor-element-3c1a419 {
  width: auto;
  max-width: auto;
  bottom: -10px;
}
body:not(.rtl) .elementor-5 .elementor-element.elementor-element-3c1a419 {
  left: -10px;
}
body.rtl .elementor-5 .elementor-element.elementor-element-3c1a419 {
  right: -10px;
}
.elementor-5 .elementor-element.elementor-element-41c4aba {
  width: auto;
  max-width: auto;
  top: -10px;
}
body:not(.rtl) .elementor-5 .elementor-element.elementor-element-41c4aba {
  right: -10px;
}
body.rtl .elementor-5 .elementor-element.elementor-element-41c4aba {
  left: -10px;
}
.elementor-5
  .elementor-element.elementor-element-4dcfc55
  > .elementor-container {
  min-height: 536px;
}
.elementor-5
  .elementor-element.elementor-element-4dcfc55:not(.elementor-motion-effects-element-type-background),
.elementor-5
  .elementor-element.elementor-element-4dcfc55
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../2021/08/library-designed-by-zaha-hadid-in-new-campus-of-th-S753HUL.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5 .elementor-element.elementor-element-4dcfc55 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  z-index: 1;
}
.elementor-5
  .elementor-element.elementor-element-4dcfc55
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-723589d {
  padding: 8em 0em 1em 0em;
}
.elementor-5
  .elementor-element.elementor-element-f473e61
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5 .elementor-element.elementor-element-f473e61 {
  margin-top: 0px;
  margin-bottom: 25px;
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-f7e633f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-f7e633f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-f7e633f.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-5 .elementor-element.elementor-element-72bae6e {
  width: auto;
  max-width: auto;
}
.elementor-5
  .elementor-element.elementor-element-cab3b09
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-ac7903a-font-family), Sans-serif;
  font-size: var(--e-global-typography-ac7903a-font-size);
  font-weight: var(--e-global-typography-ac7903a-font-weight);
  text-transform: var(--e-global-typography-ac7903a-text-transform);
  line-height: var(--e-global-typography-ac7903a-line-height);
  letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-cab3b09
  > .elementor-widget-container {
  margin: 0px 0px 0px 15px;
}
.elementor-5 .elementor-element.elementor-element-cab3b09 {
  width: auto;
  max-width: auto;
}
.elementor-5 .elementor-element.elementor-element-37e44ff {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-37e44ff
  .elementor-heading-title {
  font-family: var(--e-global-typography-492a247-font-family), Sans-serif;
  font-size: var(--e-global-typography-492a247-font-size);
  font-weight: var(--e-global-typography-492a247-font-weight);
  text-transform: var(--e-global-typography-492a247-text-transform);
  line-height: var(--e-global-typography-492a247-line-height);
  letter-spacing: var(--e-global-typography-492a247-letter-spacing);
}
.elementor-5 .elementor-element.elementor-element-9d05b5a {
  --divider-border-style: zigzag;
  --divider-color: var(--e-global-color-accent);
  --divider-border-width: 2px;
  --divider-pattern-height: 15px;
  --divider-pattern-size: 20px;
}
.elementor-5
  .elementor-element.elementor-element-9d05b5a
  .elementor-divider-separator {
  width: 90px;
  margin: 0 auto;
  margin-center: 0;
}
.elementor-5 .elementor-element.elementor-element-9d05b5a .elementor-divider {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-5 .elementor-element.elementor-element-4c249c5 {
  text-align: center;
}
.elementor-5
  .elementor-element.elementor-element-4c249c5
  > .elementor-widget-container {
  margin: 0px 250px 0px 250px;
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-6ba08b9.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-6ba08b9.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-6ba08b9:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-5
  .elementor-element.elementor-element-6ba08b9
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-5
  .elementor-element.elementor-element-6ba08b9
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 25px 25px 25px;
}
.elementor-5
  .elementor-element.elementor-element-6ba08b9
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-a550477
  .elementor-heading-title {
  color: var(--e-global-color-3ad29f8);
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5 .elementor-element.elementor-element-183ec3a {
  color: var(--e-global-color-3ad29f8);
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-5937ebb.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-5937ebb.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-5937ebb:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-5
  .elementor-element.elementor-element-5937ebb
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-accent);
}
.elementor-5
  .elementor-element.elementor-element-5937ebb
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 25px 25px 25px;
}
.elementor-5
  .elementor-element.elementor-element-5937ebb
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-40c109f {
  text-align: right;
}
.elementor-5
  .elementor-element.elementor-element-40c109f
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5 .elementor-element.elementor-element-f314d9d {
  text-align: right;
  color: var(--e-global-color-primary);
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-51eee4e.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-51eee4e.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-51eee4e.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-5
  .elementor-element.elementor-element-51eee4e:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-5
  .elementor-element.elementor-element-51eee4e
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-accent);
}
.elementor-5
  .elementor-element.elementor-element-51eee4e
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 25px 25px 25px;
}
.elementor-5
  .elementor-element.elementor-element-51eee4e
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-1b30e67
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5 .elementor-element.elementor-element-1e91f0a {
  color: var(--e-global-color-primary);
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-ec11691.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-ec11691.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-ec11691:not(.elementor-motion-effects-element-type-background)
  > .elementor-widget-wrap,
.elementor-5
  .elementor-element.elementor-element-ec11691
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-5
  .elementor-element.elementor-element-ec11691
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 25px 25px 25px 25px;
}
.elementor-5
  .elementor-element.elementor-element-ec11691
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5 .elementor-element.elementor-element-803b774 {
  text-align: right;
}
.elementor-5
  .elementor-element.elementor-element-803b774
  .elementor-heading-title {
  color: var(--e-global-color-3ad29f8);
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5 .elementor-element.elementor-element-8c7d3bc {
  text-align: right;
  color: var(--e-global-color-3ad29f8);
}
.elementor-5
  .elementor-element.elementor-element-bd63cbf:not(.elementor-motion-effects-element-type-background),
.elementor-5
  .elementor-element.elementor-element-bd63cbf
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-144d658);
}
.elementor-5 .elementor-element.elementor-element-bd63cbf {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 8em;
  margin-bottom: 0em;
  padding: 8em 0em 8em 0em;
}
.elementor-5
  .elementor-element.elementor-element-bd63cbf
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-0668203
  > .elementor-container {
  min-height: 400px;
}
.elementor-5
  .elementor-element.elementor-element-0668203:not(.elementor-motion-effects-element-type-background),
.elementor-5
  .elementor-element.elementor-element-0668203
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://www.vidyavision.com/CollegeUploads/Photos/2016-08-6-05-10-34_kcr-gallery5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5
  .elementor-element.elementor-element-0668203
  > .elementor-background-overlay {
  background-color: var(--e-global-color-primary);
  opacity: 0.35;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-0668203:hover
  > .elementor-background-overlay {
  background-color: var(--e-global-color-primary);
  opacity: 0.5;
}
.elementor-5 .elementor-element.elementor-element-0668203 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-f2ed3aa
  > .elementor-container {
  min-height: 250px;
}
.elementor-5
  .elementor-element.elementor-element-f2ed3aa:not(.elementor-motion-effects-element-type-background),
.elementor-5
  .elementor-element.elementor-element-f2ed3aa
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://cdn.collegefinderindia.com/uploads/2021/01/K-C-Reddy-P-G-College-Guntur-Gallery-Image-5-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5
  .elementor-element.elementor-element-f2ed3aa
  > .elementor-background-overlay {
  background-color: var(--e-global-color-primary);
  opacity: 0.35;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-f2ed3aa:hover
  > .elementor-background-overlay {
  background-color: var(--e-global-color-primary);
  opacity: 0.5;
}
.elementor-5 .elementor-element.elementor-element-f2ed3aa {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
}
.elementor-5
  .elementor-element.elementor-element-78c3784
  > .elementor-container {
  min-height: 250px;
}
.elementor-5
  .elementor-element.elementor-element-78c3784:not(.elementor-motion-effects-element-type-background),
.elementor-5
  .elementor-element.elementor-element-78c3784
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://www.collegebatch.com/static/clg-gallery/kc-reddy-pg-college-guntur-136948.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5
  .elementor-element.elementor-element-78c3784
  > .elementor-background-overlay {
  background-color: var(--e-global-color-primary);
  opacity: 0.35;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-78c3784:hover
  > .elementor-background-overlay {
  background-color: var(--e-global-color-primary);
  opacity: 0.5;
}
.elementor-5 .elementor-element.elementor-element-78c3784 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-ecd4639
  > .elementor-container {
  min-height: 400px;
}
.elementor-5
  .elementor-element.elementor-element-ecd4639:not(.elementor-motion-effects-element-type-background),
.elementor-5
  .elementor-element.elementor-element-ecd4639
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://www.collegebatch.com/static/clg-gallery/kc-reddy-pg-college-guntur-136954.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5
  .elementor-element.elementor-element-ecd4639
  > .elementor-background-overlay {
  background-color: var(--e-global-color-primary);
  opacity: 0.35;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-ecd4639:hover
  > .elementor-background-overlay {
  background-color: var(--e-global-color-primary);
  opacity: 0.5;
}
.elementor-5 .elementor-element.elementor-element-ecd4639 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 20px;
  margin-bottom: 0px;
}
.elementor-bc-flex-widget
  .elementor-5
  .elementor-element.elementor-element-d2c2b0c.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-d2c2b0c.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-5
  .elementor-element.elementor-element-0fcc226
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5 .elementor-element.elementor-element-0fcc226 {
  margin-top: 0px;
  margin-bottom: 25px;
}
.elementor-5 .elementor-element.elementor-element-3be4eba {
  width: auto;
  max-width: auto;
}
.elementor-5
  .elementor-element.elementor-element-45a0833
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-ac7903a-font-family), Sans-serif;
  font-size: var(--e-global-typography-ac7903a-font-size);
  font-weight: var(--e-global-typography-ac7903a-font-weight);
  text-transform: var(--e-global-typography-ac7903a-text-transform);
  line-height: var(--e-global-typography-ac7903a-line-height);
  letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-45a0833
  > .elementor-widget-container {
  margin: 0px 0px 0px 15px;
}
.elementor-5 .elementor-element.elementor-element-45a0833 {
  width: auto;
  max-width: auto;
}
.elementor-5
  .elementor-element.elementor-element-d38d555
  .elementor-heading-title {
  font-family: var(--e-global-typography-492a247-font-family), Sans-serif;
  font-size: var(--e-global-typography-492a247-font-size);
  font-weight: var(--e-global-typography-492a247-font-weight);
  text-transform: var(--e-global-typography-492a247-text-transform);
  line-height: var(--e-global-typography-492a247-line-height);
  letter-spacing: var(--e-global-typography-492a247-letter-spacing);
}
.elementor-5 .elementor-element.elementor-element-30cbdb4 {
  --divider-border-style: zigzag;
  --divider-color: var(--e-global-color-accent);
  --divider-border-width: 2px;
  --divider-pattern-height: 15px;
  --divider-pattern-size: 20px;
}
.elementor-5
  .elementor-element.elementor-element-30cbdb4
  .elementor-divider-separator {
  width: 90px;
}
.elementor-5 .elementor-element.elementor-element-30cbdb4 .elementor-divider {
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-5
  .elementor-element.elementor-element-4b27b8d.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-5
  .elementor-element.elementor-element-4b27b8d.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-5
  .elementor-element.elementor-element-4b27b8d.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-4b27b8d
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-4b27b8d
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-4b27b8d
  .elementor-image-box-title {
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-f20c2a1.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-5
  .elementor-element.elementor-element-f20c2a1.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-5
  .elementor-element.elementor-element-f20c2a1.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-f20c2a1
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-f20c2a1
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-f20c2a1
  .elementor-image-box-title {
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-189286b.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-5
  .elementor-element.elementor-element-189286b.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-5
  .elementor-element.elementor-element-189286b.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-189286b
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-189286b
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-189286b
  .elementor-image-box-title {
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-a4b2c16.elementor-position-right
  .elementor-image-box-img {
  margin-left: 15px;
}
.elementor-5
  .elementor-element.elementor-element-a4b2c16.elementor-position-left
  .elementor-image-box-img {
  margin-right: 15px;
}
.elementor-5
  .elementor-element.elementor-element-a4b2c16.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 15px;
}
.elementor-5
  .elementor-element.elementor-element-a4b2c16
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 30%;
}
.elementor-5
  .elementor-element.elementor-element-a4b2c16
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-a4b2c16
  .elementor-image-box-title {
  font-family: var(--e-global-typography-428d049-font-family), Sans-serif;
  font-size: var(--e-global-typography-428d049-font-size);
  font-weight: var(--e-global-typography-428d049-font-weight);
  line-height: var(--e-global-typography-428d049-line-height);
  letter-spacing: var(--e-global-typography-428d049-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-7e77871
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5 .elementor-element.elementor-element-7e77871 {
  overflow: hidden;
  padding: 9em 0em 1em 0em;
}
.elementor-5 .elementor-element.elementor-element-536b2b0 {
  width: auto;
  max-width: auto;
  bottom: -10px;
}
body:not(.rtl) .elementor-5 .elementor-element.elementor-element-536b2b0 {
  left: -10px;
}
body.rtl .elementor-5 .elementor-element.elementor-element-536b2b0 {
  right: -10px;
}
.elementor-5 .elementor-element.elementor-element-a40435f {
  width: auto;
  max-width: auto;
  top: -10px;
}
body:not(.rtl) .elementor-5 .elementor-element.elementor-element-a40435f {
  right: -10px;
}
body.rtl .elementor-5 .elementor-element.elementor-element-a40435f {
  left: -10px;
}
.elementor-5
  .elementor-element.elementor-element-1c1fefd
  > .elementor-container {
  min-height: 650px;
}
.elementor-5
  .elementor-element.elementor-element-1c1fefd:not(.elementor-motion-effects-element-type-background),
.elementor-5
  .elementor-element.elementor-element-1c1fefd
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("https://www.vidyavision.com/CollegeUploads/Photos/2016-08-6-05-10-34_kcr-gallery5.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-5 .elementor-element.elementor-element-1c1fefd {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  z-index: 1;
}
.elementor-5
  .elementor-element.elementor-element-1c1fefd
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-5
  .elementor-element.elementor-element-a077f05
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-5 .elementor-element.elementor-element-a077f05 {
  margin-top: 0px;
  margin-bottom: 25px;
}
.elementor-5 .elementor-element.elementor-element-9619064 {
  width: auto;
  max-width: auto;
}
.elementor-5
  .elementor-element.elementor-element-0b84991
  .elementor-heading-title {
  color: var(--e-global-color-primary);
  font-family: var(--e-global-typography-ac7903a-font-family), Sans-serif;
  font-size: var(--e-global-typography-ac7903a-font-size);
  font-weight: var(--e-global-typography-ac7903a-font-weight);
  text-transform: var(--e-global-typography-ac7903a-text-transform);
  line-height: var(--e-global-typography-ac7903a-line-height);
  letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
}
.elementor-5
  .elementor-element.elementor-element-0b84991
  > .elementor-widget-container {
  margin: 0px 0px 0px 15px;
}
.elementor-5 .elementor-element.elementor-element-0b84991 {
  width: auto;
  max-width: auto;
}
.elementor-5
  .elementor-element.elementor-element-900dd61
  .elementor-heading-title {
  font-family: var(--e-global-typography-492a247-font-family), Sans-serif;
  font-size: var(--e-global-typography-492a247-font-size);
  font-weight: var(--e-global-typography-492a247-font-weight);
  text-transform: var(--e-global-typography-492a247-text-transform);
  line-height: var(--e-global-typography-492a247-line-height);
  letter-spacing: var(--e-global-typography-492a247-letter-spacing);
}
.elementor-5 .elementor-element.elementor-element-d400269 {
  --divider-border-style: zigzag;
  --divider-color: var(--e-global-color-accent);
  --divider-border-width: 2px;
  --divider-pattern-height: 15px;
  --divider-pattern-size: 20px;
}
.elementor-5
  .elementor-element.elementor-element-d400269
  .elementor-divider-separator {
  width: 90px;
}
.elementor-5 .elementor-element.elementor-element-d400269 .elementor-divider {
  padding-top: 10px;
  padding-bottom: 10px;
}
.elementor-5
  .elementor-element.elementor-element-5f238bb
  .elementor-testimonial__text {
  color: var(--e-global-color-primary);
}
.elementor-5
  .elementor-element.elementor-element-5f238bb
  .elementor-testimonial__name {
  color: var(--e-global-color-primary);
}
.elementor-5
  .elementor-element.elementor-element-5f238bb
  .elementor-testimonial__title {
  color: var(--e-global-color-secondary);
}
.elementor-5
  .elementor-element.elementor-element-5f238bb
  .elementor-swiper-button {
  font-size: 20px;
}
.elementor-5
  .elementor-element.elementor-element-5f238bb
  > .elementor-widget-container {
  padding: 1em 1em 1em 1em;
  background-color: var(--e-global-color-accent);
}
:root {
  --page-title-display: none;
}
@media (min-width: 768px) {
  .elementor-5 .elementor-element.elementor-element-a80a245 {
    width: 50.263%;
  }
  .elementor-5 .elementor-element.elementor-element-b55c430 {
    width: 49.737%;
  }
  .elementor-5 .elementor-element.elementor-element-ecc60d0 {
    width: 47.278%;
  }
  .elementor-5 .elementor-element.elementor-element-bf92192 {
    width: 7.622%;
  }
  .elementor-5 .elementor-element.elementor-element-93d6a82 {
    width: 44.737%;
  }
  .elementor-5 .elementor-element.elementor-element-e9c1fab {
    width: 5.263%;
  }
  .elementor-5 .elementor-element.elementor-element-d2c2b0c {
    width: 44.737%;
  }
  .elementor-5 .elementor-element.elementor-element-0a1b5f5 {
    width: 45.262%;
  }
  .elementor-5 .elementor-element.elementor-element-f988f96 {
    width: 8.526%;
  }
  .elementor-5 .elementor-element.elementor-element-0230f8e {
    width: 45.544%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-5 .elementor-element.elementor-element-d3f794b {
    width: 100%;
  }
  .elementor-5 .elementor-element.elementor-element-6ba08b9 {
    width: 100%;
  }
  .elementor-5 .elementor-element.elementor-element-5937ebb {
    width: 100%;
  }
  .elementor-5 .elementor-element.elementor-element-962e384 {
    width: 100%;
  }
  .elementor-5 .elementor-element.elementor-element-531412f {
    width: 100%;
  }
  .elementor-5 .elementor-element.elementor-element-51eee4e {
    width: 100%;
  }
  .elementor-5 .elementor-element.elementor-element-ec11691 {
    width: 100%;
  }
  .elementor-5 .elementor-element.elementor-element-776e60f {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .elementor-5
    .elementor-element.elementor-element-de94a10
    .elementor-heading-title {
    font-size: var(--e-global-typography-ac7903a-font-size);
    line-height: var(--e-global-typography-ac7903a-line-height);
    letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-6dd4dee
    .elementor-heading-title {
    font-size: var(--e-global-typography-8b65ec8-font-size);
    line-height: var(--e-global-typography-8b65ec8-line-height);
    letter-spacing: var(--e-global-typography-8b65ec8-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-095443c
    > .elementor-widget-container {
    margin: 0px 0px -150px 0px;
  }
  .elementor-5 .elementor-element.elementor-element-45ea8e2 {
    padding: 5em 0em 0em 0em;
  }
  .elementor-5
    .elementor-element.elementor-element-8732799
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-060bfd0
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-1de780f
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-d79a279
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-6a3dec5 {
    padding: 5em 0em 1em 0em;
  }
  .elementor-5
    .elementor-element.elementor-element-4e22660
    .elementor-heading-title {
    font-size: var(--e-global-typography-ac7903a-font-size);
    line-height: var(--e-global-typography-ac7903a-line-height);
    letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-61d47a3
    .elementor-heading-title {
    font-size: var(--e-global-typography-492a247-font-size);
    line-height: var(--e-global-typography-492a247-line-height);
    letter-spacing: var(--e-global-typography-492a247-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-723589d {
    padding: 5em 0em 1em 0em;
  }
  .elementor-5
    .elementor-element.elementor-element-cab3b09
    .elementor-heading-title {
    font-size: var(--e-global-typography-ac7903a-font-size);
    line-height: var(--e-global-typography-ac7903a-line-height);
    letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-37e44ff
    .elementor-heading-title {
    font-size: var(--e-global-typography-492a247-font-size);
    line-height: var(--e-global-typography-492a247-line-height);
    letter-spacing: var(--e-global-typography-492a247-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-4c249c5
    > .elementor-widget-container {
    margin: 0px 150px 0px 150px;
  }
  .elementor-5
    .elementor-element.elementor-element-a550477
    .elementor-heading-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-40c109f {
    text-align: left;
  }
  .elementor-5
    .elementor-element.elementor-element-40c109f
    .elementor-heading-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-f314d9d {
    text-align: left;
  }
  .elementor-5
    .elementor-element.elementor-element-1b30e67
    .elementor-heading-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-803b774 {
    text-align: left;
  }
  .elementor-5
    .elementor-element.elementor-element-803b774
    .elementor-heading-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-8c7d3bc {
    text-align: left;
  }
  .elementor-5 .elementor-element.elementor-element-bd63cbf {
    margin-top: 5em;
    margin-bottom: 0em;
    padding: 5em 0em 5em 0em;
  }
  .elementor-5
    .elementor-element.elementor-element-45a0833
    .elementor-heading-title {
    font-size: var(--e-global-typography-ac7903a-font-size);
    line-height: var(--e-global-typography-ac7903a-line-height);
    letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-d38d555
    .elementor-heading-title {
    font-size: var(--e-global-typography-492a247-font-size);
    line-height: var(--e-global-typography-492a247-line-height);
    letter-spacing: var(--e-global-typography-492a247-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-4b27b8d
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-f20c2a1
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-189286b
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-a4b2c16
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-7e77871 {
    padding: 5em 0em 1em 0em;
  }
  .elementor-5
    .elementor-element.elementor-element-0b84991
    .elementor-heading-title {
    font-size: var(--e-global-typography-ac7903a-font-size);
    line-height: var(--e-global-typography-ac7903a-line-height);
    letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-900dd61
    .elementor-heading-title {
    font-size: var(--e-global-typography-492a247-font-size);
    line-height: var(--e-global-typography-492a247-line-height);
    letter-spacing: var(--e-global-typography-492a247-letter-spacing);
  }
}
@media (max-width: 767px) {
  .elementor-5 .elementor-element.elementor-element-de94a10 {
    text-align: left;
  }
  .elementor-5
    .elementor-element.elementor-element-de94a10
    .elementor-heading-title {
    font-size: var(--e-global-typography-ac7903a-font-size);
    line-height: var(--e-global-typography-ac7903a-line-height);
    letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-6dd4dee {
    text-align: left;
  }
  .elementor-5
    .elementor-element.elementor-element-6dd4dee
    .elementor-heading-title {
    font-size: var(--e-global-typography-8b65ec8-font-size);
    line-height: var(--e-global-typography-8b65ec8-line-height);
    letter-spacing: var(--e-global-typography-8b65ec8-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-d9075a0 {
    text-align: left;
  }
  .elementor-5
    .elementor-element.elementor-element-095443c
    > .elementor-widget-container {
    margin: 0px 0px -74px 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-8732799
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-5
    .elementor-element.elementor-element-8732799
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-060bfd0
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-5
    .elementor-element.elementor-element-060bfd0
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-1de780f
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-5
    .elementor-element.elementor-element-1de780f
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-d79a279
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-5
    .elementor-element.elementor-element-d79a279
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-4e22660
    .elementor-heading-title {
    font-size: var(--e-global-typography-ac7903a-font-size);
    line-height: var(--e-global-typography-ac7903a-line-height);
    letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-61d47a3
    .elementor-heading-title {
    font-size: var(--e-global-typography-492a247-font-size);
    line-height: var(--e-global-typography-492a247-line-height);
    letter-spacing: var(--e-global-typography-492a247-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-4dcfc55
    > .elementor-container {
    min-height: 400px;
  }
  .elementor-5
    .elementor-element.elementor-element-cab3b09
    .elementor-heading-title {
    font-size: var(--e-global-typography-ac7903a-font-size);
    line-height: var(--e-global-typography-ac7903a-line-height);
    letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-37e44ff
    .elementor-heading-title {
    font-size: var(--e-global-typography-492a247-font-size);
    line-height: var(--e-global-typography-492a247-line-height);
    letter-spacing: var(--e-global-typography-492a247-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-4c249c5
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-a550477
    .elementor-heading-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-40c109f
    .elementor-heading-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-1b30e67
    .elementor-heading-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-803b774
    .elementor-heading-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-0668203
    > .elementor-container {
    min-height: 250px;
  }
  .elementor-5
    .elementor-element.elementor-element-ecd4639
    > .elementor-container {
    min-height: 250px;
  }
  .elementor-bc-flex-widget
    .elementor-5
    .elementor-element.elementor-element-e55f7a7.elementor-column
    .elementor-widget-wrap {
    align-items: center;
  }
  .elementor-5
    .elementor-element.elementor-element-e55f7a7.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
  }
  .elementor-5
    .elementor-element.elementor-element-e55f7a7.elementor-column
    > .elementor-widget-wrap {
    justify-content: center;
  }
  .elementor-5
    .elementor-element.elementor-element-45a0833
    .elementor-heading-title {
    font-size: var(--e-global-typography-ac7903a-font-size);
    line-height: var(--e-global-typography-ac7903a-line-height);
    letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-d38d555 {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-d38d555
    .elementor-heading-title {
    font-size: var(--e-global-typography-492a247-font-size);
    line-height: var(--e-global-typography-492a247-line-height);
    letter-spacing: var(--e-global-typography-492a247-letter-spacing);
  }
  .elementor-5 .elementor-element.elementor-element-30cbdb4 .elementor-divider {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-30cbdb4
    .elementor-divider-separator {
    margin: 0 auto;
    margin-center: 0;
  }
  .elementor-5 .elementor-element.elementor-element-d6412e6 {
    text-align: center;
  }
  .elementor-5
    .elementor-element.elementor-element-4b27b8d
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-5
    .elementor-element.elementor-element-4b27b8d
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-f20c2a1
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-5
    .elementor-element.elementor-element-f20c2a1
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-189286b
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-5
    .elementor-element.elementor-element-189286b
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-a4b2c16
    .elementor-image-box-img {
    margin-bottom: 15px;
  }
  .elementor-5
    .elementor-element.elementor-element-a4b2c16
    .elementor-image-box-title {
    font-size: var(--e-global-typography-428d049-font-size);
    line-height: var(--e-global-typography-428d049-line-height);
    letter-spacing: var(--e-global-typography-428d049-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-1c1fefd
    > .elementor-container {
    min-height: 400px;
  }
  .elementor-5
    .elementor-element.elementor-element-0230f8e
    > .elementor-element-populated {
    margin: 20px 0px 0px 0px;
  }
  .elementor-5
    .elementor-element.elementor-element-0b84991
    .elementor-heading-title {
    font-size: var(--e-global-typography-ac7903a-font-size);
    line-height: var(--e-global-typography-ac7903a-line-height);
    letter-spacing: var(--e-global-typography-ac7903a-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-900dd61
    .elementor-heading-title {
    font-size: var(--e-global-typography-492a247-font-size);
    line-height: var(--e-global-typography-492a247-line-height);
    letter-spacing: var(--e-global-typography-492a247-letter-spacing);
  }
  .elementor-5
    .elementor-element.elementor-element-5f238bb
    > .elementor-widget-container {
    padding: 2em 1em 2em 1em;
  }
}
